<!doctype html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title>Talking App - About.</title>
        <link rel="shortcut icon" href="../images/logo.svg" />
        <link rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="Talking App powered by WebRTC, Real-time Simple Secure Fast video calls, chat and screen sharing capabilities in the browser, from your mobile or desktop."
        />
        <meta
            name="keywords"
            content="webrtc, miro, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="Talking App" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="Talking App calling provides real-time HD quality and latency simply not available with traditional technology."
        />
        <meta property="og:image" content="https://talking.consultwithRabih.com/images/preview.png" />
        <meta property="og:url" content="https://talking.consultwithRabih.com" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
        <link rel="stylesheet" href="../css/newcall.css" />

        <!-- JavaScripts -->

        <script async src="../js/umami.js"></script>
    </head>
    <body>
        <main>Talking APP</main>
        <footer id="footer" class="site-footer center-content-mobile">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="footer-top space-between text-xxs">
                        <div class="brand">
                            <a href="/"><img src="../images/logo.svg" alt="Neon" width="32" height="32" /></a>
                        </div>
                        <div class="footer-social">
                            <ul class="list-reset">
                                <li class="footer-social-icon">
                                    <a target="_blank" href="mailto:rabihsadi43@gmail.com">
                                        <svg
                                            width="16"
                                            height="16"
                                            viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <title>Email</title>
                                            <path
                                                d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z"
                                                fill="#0270D7"
                                            />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        class="github-button"
                                        href="https://github.com/socool728/WebRTC-Video-Chat"
                                        data-color-scheme="no-preference: light; light: light; dark: dark;"
                                        data-size="large"
                                        data-show-count="true"
                                        aria-label="Star socool728/WebRTC-Video-Chat on GitHub"
                                        >Star</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-bottom space-between text-xxs invert-order-desktop">
                        <nav class="footer-nav">
                            <ul class="list-reset">
                                <li>
                                    <a href="/privacy">Privacy Policy</a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.linkedin.com/in/rabih-sadi"
                                        >Contact: Rabih Sadi</a
                                    >
                                </li>
                            </ul>
                        </nav>
                        <div class="footer-copyright">&copy; 2024 Talking App, all rights reserved</div>
                    </div>
                </div>
            </div>
        </footer>

        <script defer src="../js/landing.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
