<!doctype html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title id="privacyPolicyTitle">Talking App - privacy and policy.</title>
        <link id="shortcutIcon" rel="shortcut icon" href="../images/logo.svg" />
        <link id="appleTouchIcon" rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="Talking App powered by WebRTC, Real-time secure video calls, chat and screen sharing capabilities in the browser, from your mobile or desktop"
        />
        <meta
            name="keywords"
            content="webrtc, RTCICECandidates, RTCSessionDescription, RTCDataChannel, real-time communications, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, zoom, rtc, teams"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="Talking App" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="Talking App calling provides real-time HD quality and latency simply not available with traditional technology."
        />
        <meta property="og:image" content="https://talking.consultwithRabih.com/images/preview.png" />
        <meta property="og:url" content="https://talking.consultwithRabih.com" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
        <link rel="stylesheet" href="../css/newcall.css" />

        <!-- JavaScripts -->

        <script async src="../js/umami.js"></script>
    </head>
    <body class="has-animations">
        <div class="body-wrap">
            <header class="site-header reveal-from-top">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand">
                            <div class="m-0">
                                <a href="/">
                                    <img src="../images/logo.svg" alt="Talking App P2P" width="32" height="32" />
                                    <!-- <img
                                        src="../images/mirotalk-mc.png"
                                        alt="Talking App P2P"
                                        width="96"
                                        height="auto"
                                        style="margin-top: 80px"
                                    /> -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="site-content mt-48">
                <section class="hero section">
                    <div class="container">
                        <div class="hero-inner section-inner">
                            <div class="split-wrap invert-mobile">
                                <div class="split-item">
                                    <div class="hero-content split-item-content center-content-mobile">
                                        <h1 class="mt-0 mb-16 reveal-from-bottom" data-reveal-delay="150">
                                            Privacy Policy
                                        </h1>
                                        <p class="mt-0 mb-32 reveal-from-bottom" data-reveal-delay="300">
                                            We limit ourselves to collect the smallest amount of user data that we need
                                            in order to create a seamless experience when using
                                            <strong>Talking App</strong>. <br /><br />
                                            This data includes mainly:
                                            <a
                                                href="https://developer.mozilla.org/en-US/docs/Web/API/RTCIceCandidate"
                                                target="_blank"
                                                >RTCICECandidates</a
                                            >
                                            &
                                            <a
                                                href="https://developer.mozilla.org/en-US/docs/Web/API/RTCSessionDescription"
                                                target="_blank"
                                                >RTCSessionDescription</a
                                            >
                                            which is needed to establish the video call using WebRTC. RTCICECandidates,
                                            RTCSessionDescription is not stored in any persistent database, it's removed
                                            from the server as soon as the user leaves the call by closing the browser
                                            window. The media streams are encrypted using Secure Real-time Transport
                                            Protocol (SRTP).
                                            <br /><br />
                                            For Chat messaging and File Sharing, we using WebRTC's
                                            <a
                                                href="https://developer.mozilla.org/en-US/docs/Web/API/RTCDataChannel"
                                                target="_blank"
                                                >RTCDataChannel</a
                                            >
                                            to transfer data directly from one peer to another. With RTCDataChannel, all
                                            data is secured with
                                            <a
                                                href="https://en.wikipedia.org/wiki/Datagram_Transport_Layer_Security"
                                                target="_blank"
                                                >Datagram Transport Layer Security</a
                                            >
                                            (DTLS). DTLS is a derivative of SSL, meaning your data will be as secure as
                                            using any standard SSL-based connection.
                                            <br /><br />
                                            If you record a meeting, the recording of the meeting is temporarily stored
                                            on <strong>Your browser</strong>
                                            <a
                                                href="https://developer.mozilla.org/en-US/docs/Web/API/Blob"
                                                target="_blank"
                                                >Blob</a
                                            >, then will be downloaded on Your PC/Mobile Device. <br /><br />
                                            <strong>Talking App</strong> is purely peer-to-peer, which means the user's
                                            video, audio, chat and file is not sent to our server at all. <br /><br />
                                            We use Umami to track aggregated usage statistics in order to improve our
                                            service. The maker of
                                            <strong>Talking App</strong> has no intention of using personally or selling
                                            any of the above-mentioned data.
                                        </p>
                                        <div class="reveal-from-bottom" data-reveal-delay="450">
                                            <a
                                                class="button button-custom button-wide-mobile br-6 pulse"
                                                href="/newcall"
                                                >AGREE</a
                                            >
                                        </div>
                                    </div>
                                    <style>
                                        @media (min-width: 641px) {
                                            .hero .split-wrap .split-item {
                                                min-height: 492px;
                                            }
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <footer id="footer" class="site-footer center-content-mobile">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="footer-top space-between text-xxs">
                            <div class="brand">
                                <a href="/"><img src="../images/logo.svg" alt="Neon" width="32" height="32" /></a>
                            </div>
                            <div class="footer-social">
                                <ul class="list-reset">
                                    <li class="footer-social-icon">
                                        <a target="_blank" href="mailto:rabihsadi43@gmail.com">
                                            <svg
                                                width="16"
                                                height="16"
                                                viewBox="0 0 16 16"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <title>Email</title>
                                                <path
                                                    d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z"
                                                    fill="#0270D7"
                                                />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="github-button"
                                            href="https://github.com/socool728/WebRTC-Video-Chat"
                                            data-color-scheme="no-preference: light; light: light; dark: dark;"
                                            data-size="large"
                                            data-show-count="true"
                                            aria-label="Star socool728/WebRTC-Video-Chat on GitHub"
                                            >Star</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-bottom space-between text-xxs invert-order-desktop">
                            <nav class="footer-nav">
                                <ul class="list-reset">
                                    <li>
                                        <a href="/privacy">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.linkedin.com/in/rabih-sadi"
                                            >Contact: Rabih Sadi</a
                                        >
                                    </li>
                                </ul>
                            </nav>
                            <div class="footer-copyright">&copy; 2024 Talking App, all rights reserved</div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script defer src="../js/brand.js"></script>
        <script defer src="../js/landing.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
